---
import type { Collation } from '@types'

interface Props {
  tags: Collation<'posts'>[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-3 text-sm">
  {tags.map((tag) => (
    <a
      href={tag.url}
      class="py-1 px-2 rounded-2xl border border-separator bg-transparent text-separator hover:bg-accent/20 transition-colors"
    >
      {tag.title}
    </a>
  ))}
</div>
